# Python
__pycache__/
*.pyc

# Virtual Environment
.venv/

# Runtime Data
inbox/*
archive/*
failed/*
output/*
logs/*
temp/*

# Keep folders
!inbox/.gitkeep
!archive/.gitkeep
!failed/.gitkeep
!output/.gitkeep
!logs/.gitkeep
!temp/.gitkeep

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db