# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/

# Logs
logs/*.log

# Temporary files
temp/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Output files
output/
archive/
failed/